* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.custom-cursor{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  z-index: 99999;
  transition: transform 0.3s, opacity 0.3s;
}

.custom-cursor-before{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.275);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
  z-index: 1000099;
  opacity: 1;
  pointer-events: none; 
}

main {
  flex: 1; 
}

/*Permet de modifier le visuel des cartes*/
.nomCartePage2{
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #120138;
  border-radius: 24px;   
  -moz-border-radius: 24px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);  
}

/*Body*/
body {
  cursor: none;
  background-image: url(img/backkk.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #acacac;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-seri;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  min-height: 100vh; 

}

/*Formulaire d'inscription*/
form {
  width: 400px;  
  padding: 40px;
  backdrop-filter: blur(10px);
  border: 1px solid #b5b5b549;
  border-radius: 20px;
} 

form label {
  color : #ffffff;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/*Permet de modifier les form*/
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/*Tout les section email dans les forms*/
input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #666565;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;
}
/*Toute les sections mdp dans les forms*/
input[type="password"], input[type="mdp"], select{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;

}

/*Modifie les bouton pour s'inscrire et envoyer demmande d'echange */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #0a0020;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  &:hover{
      transition: all 0.5s;
      box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); 
    }
  }

.choixCarte{
  border-radius: 10px;
}

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    transform: translateY(50px); 
}

.forms {
  margin-top: 40px; 
}

.bvn {
  background-color: #0a0020;
  border-radius: 150px;
  border: 1px solid #303030; 
  color: #fff;
  padding: 10px;
  margin-bottom: 20px; 
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

/*Modifie le header*/
header {
  width: 100%;
  height: 100px;
  background-color: #120138;
  color: #fff;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  border-bottom: 2px solid white ;
  margin: auto;
}


/* Footer */
footer {
  background-color: #120138;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid white;
}

.footercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  margin: 20px 0;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;

}

.social-links img {
  width: 40px;
  height: 40px;
}

.footer-menu {
  margin: 20px 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.footer-menu a:hover {
  color: #ccc;
}

.footer-bottom {
  margin: 20px 0;
}

.footer-bottom p {
  color: #ccc;
  font-size: 14px;
}


.link {
  text-align: center; 
}

.link ul {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
  margin: 20px;
}

.link ul li {
  list-style: none;
  margin: 0 10px; 
}

.link img {
  width: 40px;
  height: 40px;
}

.info,
.contact {
  flex: 1;
  text-align: center; 
}

.info h2,
.contact h2 {
  font-size: 1.2em;
}

.info p a{
  text-decoration: none;
  color: white;
  &:hover {
    color: grey; 
    transition: all 1s;
  }
}



h2 {
  color: #fff;
  margin-bottom: 10px; 
}

p {
  color: #ccc; 
  margin-bottom: 10px; 
}

.linktolink {
  text-decoration: none;
  color: #fff;
}

.linktolink:hover {
  color: #ccc; 
}


.linktolink{
  text-decoration: none;
  color: #ffffff;
  &:hover {
    color: gray;
  }
}

/*Taille du logo dans le header*/
.logoh1{
  width: 200px;
  height: 100px;
}

/*Pack booster affichée sur la page index2*/
.ovrt {
  height: 700px;
  width: 800px;
  background-image: url(img/sasa.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}


.commun{
  margin-right: 100%;
}


/*Bouton dans le Header*/

.hdr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 100px;
  height: 70px;
  background-color: #120138;
  color: #ffffff;
  text-decoration: none;
  margin: 50px;
  position: relative; 
}

.hdr:hover {
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); 
}



.carte {
  width: 180px;
  height: auto;
  margin: 50px;
  background-color: #120138;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); 
}




/*Ce qui permet de limiter la zone d'affichage des cartes dans l'inventaire*/
.center{
  width: 70vw;
  background-color: #ffffff;
  }

/*bouton pour les echanges*/
.btnflott {
    display: none;
}
/*bouton pour les echanges*/
.btnecg {
  background-color: #7e2198;
  border-radius: 80%;
  height: 5vw;
  width: auto;
  padding: 10px;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  margin-bottom: 20px; 
  margin-left: 20px; 
  z-index: 999; 
  animation: glow 2s infinite;
}

/* Animation pour changer la couleur du glow */
@keyframes glow {
  0% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); } 
  25% { box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); } 
  50% { box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); } 
  75% { box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); } 
  100% { box-shadow: 0 0 10px rgba(255, 0, 255, 0.5); }
}


/*bouton pour ouvrir un pack*/
.btn5 {
  text-decoration: none;
  padding: 10px;
  font-size: 2em;
  color: #ffffff;
  background-color: #120138;
  border-radius: 24px;
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(20%); 
  z-index: 1; 
  &:hover {
    transition: all 0.5s;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); 
  }
}


/*image des cartes dans l'inventaire*/
.carte img {
  box-sizing: border-box; 
  border-radius: 5px;
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto; 
  display: block; 
  border-radius: 20px;
  background-color: #0b0665;
  margin-top: 10px;
}

  .popup {
    display: none;
    position: fixed;
    top: 30%;
    right: 0; 
    transform: translateX(100%); 
    transition: transform 0.5s ease; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 998;
}

.popup.show {
  transform: translateX(-175%); 
  
}
  
  .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

#welcomeMessage {
  border: 1px solid #ffffff23;
  backdrop-filter: blur(10px);
  padding: 50px;
  color: #ffffff;
  border-radius: 50px;
}

.spacer {
  height: 50px;
}

.nameuser {
  color: rgb(78, 18, 182); 
}

.maison {
  color: rgba(255, 200, 0, 0.688); 
}

p {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
  }
  
  .burger-menu span {
  background-color: #fff;
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  }
  
  .nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }
  
  .nav-menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  }
  
  @media screen and (max-width: 768px) {

  .ovrt{
    height: 500px;
    width: 600px;
  }

  .hdr a {
      display: none;
  }
  
  .burger-menu {
      display: block;
  }
  
  .nav-menu {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      width: 150px;
      background-color: #120138;
      flex-direction: column;
      padding: 20px;
      box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
      z-index: 1000;
  }
  
  .nav-menu a {
      margin: 10px 0;
  }
  
  .nav-menu.active {
      display: flex;
  }
  }
  

  .myPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 900;
}

.myPopup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.myPopup .popup-content {
    text-align: left;
}

.myPopup .popup-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(81, 0, 255, 0.43);
    position: absolute;
}