/* Styles liés à la page HTML */

/*Permet de modifier le visuel des cartes*/
.nomCartePage2 {
  text-decoration: none;
  padding: 10px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #120138;
  border-radius: 24px;   
  -moz-border-radius: 24px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);  
}

.custom-cursor{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  z-index: 999;
  transition: transform 0.3s, opacity 0.3s;
}

.custom-cursor-before{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.275);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
  z-index: 10000;
  opacity: 1;
  pointer-events: none; 

}

/*Body*/
body {
  background-image: url(../../img/backkk.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #acacac;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  min-height: 100vh; 
}

/*Formulaire d'inscription*/
form {
  width: 400px;  
  padding: 40px;
  backdrop-filter: blur(10px);
  border: 1px solid #b5b5b549;
  border-radius: 20px;
} 

form label {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Permet de modifier les form*/
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/*Tout les section email dans les forms*/
input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #666565;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;
}

/*Toute les sections mdp dans les forms*/
input[type="password"], input[type="mdp"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;
}

/*Modifie les bouton pour s'inscrire et envoyer demmande d'echange */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #0a0020;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #0a0020;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
}

.bvn {
  background-color: #0a0020;
  border-radius: 150px;
  border: 1px solid #303030; 
  color: #fff;
  padding: 10px;
  margin-bottom: 20px; 
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

/*Modifie le header*/
header {
  width: 100%;
  height: 100px;
  background-color: #120138;
  color: #fff;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  border-bottom: 2px solid white ;
}

/*Modifie le footer*/
footer {
  width: 100%;
  height: auto;
  background-color: #120138;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  box-sizing: border-box; 
  border-top: 2px solid white ;
}


/* Responsive */
@media only screen and (max-width: 480px) {
  form {
      width: 95%; 
      padding: 15px; 
  }

  .bvn {
      font-size: 12px; 
      padding: 6px; 
      text-align: center; 
      margin: auto; 
  }

  input[type="text"], input[type="email"], input[type="password"], select {
      width: calc(100% - 20px); 
      padding: 10px; 
      margin-bottom: 10px; 
  }

  .btn {
      font-size: 10px; 
      padding: 8px; 
  }

  #change-password-form {
    width: 70%; 
    padding: 15px; 
  }

  input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 10px; 
  }

  input[type="submit"] {
    font-size: 10px; 
    padding: 8px; 
  }
}
